<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SimpleMetrics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media="screen, projection">
  <link rel='stylesheet' href='/css/bootstrap-responsive.min.css' type='text/css' media="screen, projection">
  <link rel='stylesheet' href='/css/rickshaw.min.css' type='text/css' media="screen, projection">
  <link rel='stylesheet' href='/css/graph.css' type='text/css' media="screen, projection">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <style type="text/css">
     body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
  </style>

  <script id="graph" type="text/x-handlebars.template">
    <h3>{{time}}</h3></br>
    <div class="graph"/>
    <div class="y-axis"/>
  </script>

  <script id="metric-list" type="text/x-handlebars-template">
    <ul class="breadcrumb">
      <li>
        <a href="#metrics">Metrics</a> <span class="divider">/</span>
      </li>
      <li class="active">{{name}}</li>
    </ul>

    <table class="table table-striped" style="font-size: 13px">
      <thead>
        <tr>
          <th>Name</th>
          <th>Total</th>
          <th>Last Modified</th>
        </tr>
      </thead>
      <tbody>
        {{#each metrics}}
          <tr>
            <td><a href="#metrics/{{name}}">{{name}}</a></td>
            <td>{{total}}</td>
            <td>{{updated_at}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </script>

  <script id="metric-details" type="text/x-handlebars-template">
    {{#with metric}}
      <ul class="breadcrumb">
        <li>
          <a href="#metrics">Metrics</a> <span class="divider">/</span>
        </li>
        <li class="active">{{name}}</li>
      </ul>

      <div class="row-fluid">
        <div class="span12">
          <div style="margin-bottom:2em" class="row-fluid">
            <div id="graph-container-minute" class="span6"></div>
            <div id="graph-container-hour" class="span6"></div>
          </div>
          <div class="row-fluid">
            <div id="graph-container-day" class="span6"></div>
            <div id="graph-container-week" class="span6"></div>
          </div>
        </div>
      </div>

    {{/with}}
  </script>

</head>

<body>
  <div class="navbar navbar-fixed-top">
   <div class="navbar-inner">
     <div class="container">
       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </a>
       <a class="brand" href="/">SimpleMetrics</a>
       <div class="nav-collapse">
         <ul class="nav">
           <li class="active"><a href="/">Home</a></li>
           <li><a href="/dashboard">Dashboard</a></li>
           <li><a href="/about">About</a></li>
         </ul>
       </div><!--/.nav-collapse -->
     </div>
   </div>
 </div>

  <div class="container">
    <div id="main"></div>
  </div> <!-- /container -->

  <script src="js/lib/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="js/lib/bootstrap.min.js" type="text/javascript"></script>
  <script src="js/lib/underscore-1.3.1.min.js" type="text/javascript"></script>
  <script src="js/lib/backbone-0.9.2.min.js" type="text/javascript"></script>
  <script src="js/lib/handlebars-1.0.0.beta.6.js" type="text/javascript"></script>
  <script src="js/lib/d3.v2.min.js" type="text/javascript"></script>
  <script src="js/lib/rickshaw.min.js" type="text/javascript"></script>

  <script src="js/app.js" type="text/javascript"></script>
  <script src="js/router.js" type="text/javascript"></script>

  <script src="js/models/metric.js" type="text/javascript"></script>
  <script src="js/models/graph.js" type="text/javascript"></script>

  <script src="js/collections/metric.js" type="text/javascript"></script>
  <script src="js/collections/graph.js" type="text/javascript"></script>

  <script src="js/views/app.js" type="text/javascript"></script>
  <script src="js/views/metric.js" type="text/javascript"></script>
  <script src="js/views/metrics.js" type="text/javascript"></script>
  <script src="js/views/graph.js" type="text/javascript"></script>

</body>
</html>