server:
  host: 'localhost'
  port: 8125
  flush_interval: 10

db:
  host: 'localhost'
  port: 27017
  prefix: 'development'
  options:
    pool_size: 5
    timeout: 5

web:
  host: 'localhost'
  port: 5678

buckets: 
    - name: 'stats_per_10s'
      seconds: 10
      capped: true
      size: 180_000 # 6*30 = 180 (30 min ttl), 180 * 100 = 18.000 (100 data points), 18.000 * 10 (bytes each) = 180.000
    - name: 'stats_per_1min'
      seconds: 60
      capped: true
      size: 120_000 # 60*3 = 180 (3h ttl), 120 * 100 = 18.000 (100 data points), 18.000 * 10 (bytes each) = 180.000
    - name: 'stats_per_10min'
      seconds: 600
      size: 0 
      capped: false
    - name: 'stats_per_day'
      seconds: 86400 # 600*6*24
      size: 0 
      capped: false
